<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" routerLink=".">
          <img src="assets/img/logo-bine.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=".">
            <i class="material-icons">person</i>
            Ingresar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" style="background-image: url('assets/img/header-doc.jpg');"></div>
  <div class="content-center">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="brand">
        <h1 class="title">Bienvenido a tu Plataforma Digital</h1>
        <h3 class="description">El nuevo espacio académico para las Licenciaturas del Benemérito Instituto Normal del Estado de Puebla.</h3>
        <a class="btn btn-primary btn-round btn-lg bn-tablet-only" routerLink=".">
          <i class="material-icons">person</i>
          Ingresar
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="copyright float-right">
      &copy; 2018, Plataforma BINE v3.0 | Desarrollado por
      <a href="http://atombits.mx" target="_blank">Atombits.</a>
    </div>
  </div>
</footer>
