<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form">
          <div class="card card-login card-hidden">
            <div class="card-body ">
              <div class="bn-image">
                <img src="assets/img/logo-bine.png" alt="">
              </div>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Correo institucional">
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña">
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center">
              <button type="button" routerLink="." class="btn btn-primary btn-round">Iniciar sesión</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright float-right"> &copy; 2018, Plataforma BINE v3.0 | Desarrollado por
          <a href="http://atombits.mx" target="_blank">Atombits.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
