<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
            <ul class="nav nav-pills nav-pills-danger" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                  1º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                  2º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                  3º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                  4º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                  5º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
                  6º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                  7º Semestre
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                  8º Semestre
                </a>
              </li>
            </ul>
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="link1">
                  <div class="card">
                      <div class="card-header">
                          <div class="bn-header">
                            <div class="bn-logo-sep">
                                <img src="assets/img/logo-sep.png" alt="">
                            </div>
                            <div class="bn-header-content">
                                <h4>BENEMÉRITO INSTITUTO NORMAL DEL ESTADO DE PUEBLA</h4>
                                <h4>"GRAL. JUAN CRISÓSTOMO BONILLA"</h4>
                                <h4>LICENCIATURA EN EDUCACIÓN FÍSICA</h4>
                                <h4>1º GRADO GRUPO A </h4>
                            </div>
                            <div class="bn-logo-bine">
                                <img src="assets/img/logo-bine.png" alt="">
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                        <th class="text-center">Num</th>
                                        <th>Nombre del alumno</th>
                                        <th class="text-center">Promedio Actual</th>
                                        <th class="text-center">Promedio Acumulado</th>
                                        <th class="text-center">Estatus</th>
                                        <th class="text-center">Traslado</th>
                                        <th class="text-center">Acciones</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let student of studentsA; let index = index">
                                        <td class="text-center">{{index + 1}}</td>
                                        <td>{{student.name}}</td>
                                        <td class="text-center" [ngClass]="{'text-danger': student.promCurrent < 7}">{{student.promCurrent}}</td>
                                        <td class="text-center">{{student.promGlobal}}</td>
                                        <td class="text-center">
                                            <span class="badge badge-pill badge-success" *ngIf="student.status == 1">Activo</span>
                                            <span class="badge badge-pill badge-warning" *ngIf="student.status == 2">Baja Temporal</span>
                                            <span class="badge badge-pill badge-danger" *ngIf="student.status == 3">Baja Definitiva</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="material-icons text-success" *ngIf="student.translate">done</i>
                                        </td>
                                        <td class="td-actions justify-content-center">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-link" (click)="onUpdateStudent(student, index)">
                                              <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <div class="bn-header">
                            <div class="bn-logo-sep">
                                <img src="assets/img/logo-sep.png" alt="">
                            </div>
                            <div class="bn-header-content">
                                <h4>BENEMÉRITO INSTITUTO NORMAL DEL ESTADO DE PUEBLA</h4>
                                <h4>"GRAL. JUAN CRISÓSTOMO BONILLA"</h4>
                                <h4>LICENCIATURA EN EDUCACIÓN FÍSICA</h4>
                                <h4>1º GRADO GRUPO A </h4>
                            </div>
                            <div class="bn-logo-bine">
                                <img src="assets/img/logo-bine.png" alt="">
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                        <th class="text-center">Num</th>
                                        <th>Nombre del alumno</th>
                                        <th class="text-center">Promedio Actual</th>
                                        <th class="text-center">Promedio Acumulado</th>
                                        <th class="text-center">Estatus</th>
                                        <th class="text-center">Traslado</th>
                                        <th class="text-center">Acciones</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let student of studentsB; let index = index">
                                        <td class="text-center">{{index + 1}}</td>
                                        <td>{{student.name}}</td>
                                        <td class="text-center" [ngClass]="{'text-danger': student.promCurrent < 7}">{{student.promCurrent}}</td>
                                        <td class="text-center">{{student.promGlobal}}</td>
                                        <td class="text-center">
                                            <span class="badge badge-pill badge-success" *ngIf="student.status == 1">Activo</span>
                                            <span class="badge badge-pill badge-warning" *ngIf="student.status == 2">Baja Temporal</span>
                                            <span class="badge badge-pill badge-danger" *ngIf="student.status == 3">Baja Definitiva</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="material-icons text-success" *ngIf="student.translate">done</i>
                                        </td>
                                        <td class="td-actions justify-content-center">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-link" (click)="onUpdateStudent(student, index)">
                                              <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane active" id="link2">
                  
              </div>
              <div class="tab-pane active" id="link3">

              </div>
              <div class="tab-pane active" id="link4">

              </div>
              <div class="tab-pane active" id="link5">

              </div>
              <div class="tab-pane active" id="link6">

              </div>
              <div class="tab-pane active" id="link7">

              </div>
              <div class="tab-pane active" id="link8">

              </div>
            </div>
        </div>
    </div>
</div>
