<div class="wrapper wrapper-full-page">
  <div class="page-header pricing-page header-filter" style="background-image: url('assets/img/bg-pricing.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Costo de Plataforma BINE v3.0</h2>
          <h5 class="description"></h5>
        </div>
      </div>
      <div class="row bn-container">
        <div class="col-lg-4 col-md-6">
          <div class="card card-pricing">
            <h4 class="card-category"> BÁSICO</h4>
            <div class="card-body">
              <div class="card-icon">
                <i class="material-icons text-success">weekend</i>
              </div>
              <h3 class="card-title">$45 / Semestre</h3>
              <p class="card-description">Plataforma Académica con todos los modulos presentados</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a href="#pablo" class="btn btn-round btn-success">ELEGIR PLAN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-pricing ">
            <h4 class="card-category"> INTERMEDIO</h4>
            <div class="card-body">
              <div class="card-icon">
                <i class="material-icons text-info">home</i>
              </div>
              <h3 class="card-title">$55 / semestre</h3>
              <p class="card-description">Plataforma Académica completa</p>
              <p class="card-description">Plataforma de Admisión</p>
              <p class="card-description">Plataforma de Inscripción</p>
              <p class="card-description">PWA para docentes y alumnos</p>
              <p class="card-description">Información en tiempo real</p>
              <p class="card-description">Sistema de notificaciones y alertas</p>
              <p class="card-description">Trabajo offline</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a href="#pablo" class="btn btn-round btn-info">ELEGIR PLAN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-pricing">
            <h4 class="card-category"> AVANZADO</h4>
            <div class="card-body">
              <div class="card-icon icon-rose ">
                <i class="material-icons">account_balance</i>
              </div>
              <h3 class="card-title">$60 / Semestre</h3>
              <p class="card-description">Plataforma Académica completa</p>
              <p class="card-description">Plataforma de Admisión</p>
              <p class="card-description">Plataforma de Inscripción</p>
              <p class="card-description">PWA para docentes y alumnos</p>
              <p class="card-description">Información en tiempo real</p>
              <p class="card-description">Sistema de notificaciones y alertas</p>
              <p class="card-description">Trabajo offline</p>
              <p class="card-description">Red social para gestión de conocimiento</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a href="#pablo" class="btn btn-round btn-rose">ELEGIR PLAN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright float-right"> &copy; 2018, Plataforma BINE v3.0 | Desarrollado por
          <a href="http://atombits.mx" target="_blank">Atombits.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
