@import 'assets/scss/colors';
@import 'assets/scss/sizes';

p{
    margin: 0;
}

/* DISPLAY */
.bn-mobile-only{
    @media #{$break-mobile-end}{
        display: none !important;
    }
}
.bn-tablet-only{
    @media #{$break-tablet-end}{
        display: none !important;
    }
}

.bn-list-user-image{
    width: 60px;
    border-radius: 50%;
}

.bn-flex{
    display: flex;
}

.bn-text-upper{
    text-transform: uppercase;
}

.bn-form-row{
    padding: 16px 0px;
    .col-md-2, .col-md-4{
        padding-left: 6px;
        padding-right: 6px;
    }
    input{
        display: inline-block;
    }
}

.bn-text-500{
    font-weight: 500;
}

.bn-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0px;
    .bn-header-content{
        text-align: center;
        h4{
            font-weight: 400;
            margin: 0px !important;
        }
    }
    .bn-logo-sep{
        width: 200px;
        img{
            width: 200px;
        }
    }
    .bn-logo-bine{
        text-align: center;
        width: 200px;
        img{
            width: 120px;
        }
    }
}
