@import 'assets/scss/colors';
@import 'assets/scss/sizes';

p{
    margin: 0;
}

/* DISPLAY */
.bn-mobile-only{
    @media #{$break-mobile-end}{
        display: none !important;
    }
}
.bn-tablet-only{
    @media #{$break-tablet-end}{
        display: none !important;
    }
}
