<div class="sidebar" data-color="orange" data-background-color="white">
  <div class="logo">
    <a routerLink="." class="simple-text logo-mini">
      <img src="/assets/img/logo-bine.png"/>
    </a>
    <a routerLink="." class="simple-text logo-normal">
      Plataforma BINE
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/admin-lic-principal">
          <i class="material-icons">dashboard</i>
          <p> Panel de control </p>
        </a>
      </li>
    </ul>
  </div>
</div>
