<div class="sidebar" data-color="orange" data-background-color="white">
  <div class="logo">
    <a routerLink="." class="simple-text logo-mini">
      <img src="/assets/img/logo-bine.png"/>
    </a>
    <a routerLink="." class="simple-text logo-normal">
      Plataforma BINE
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/panel-de-control">
          <i class="material-icons">dashboard</i>
          <p> Panel de control </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/estudiantes">
          <i class="material-icons">local_library</i>
          <p> Alumnos </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/docentes">
          <i class="material-icons">group</i>
          <p> Docentes </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/mapa-curricular">
          <i class="material-icons">group</i>
          <p> Mapa curricular</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/horarios">
          <i class="material-icons">view_comfy</i>
          <p> Horarios</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/grupos">
          <i class="material-icons">list</i>
          <p> Grupos</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/calificaciones">
          <i class="material-icons">edit</i>
          <p> Calificaciones</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/alumnos-destacados">
          <i class="material-icons">star_rate</i>
          <p> Alumnos destacados</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/reporte-de-calificaciones">
          <i class="material-icons">filter_list</i>
          <p> Reporte de Calificaciones</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/documentos">
          <i class="material-icons">folder</i>
          <p> Documentos</p>
        </a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/historico">
          <i class="material-icons">archive</i>
          <p> Historico</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/historico">
          <i class="material-icons">timeline</i>
          <p> Evaluaciones</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/costos">
          <i class="material-icons">attach_money</i>
          <p> Costo</p>
        </a>
      </li>
    </ul>
  </div>
</div>
