<div class="sidebar" data-color="orange" data-background-color="white">
  <div class="logo">
    <a routerLink="." class="simple-text logo-mini">
      <img src="/assets/img/logo-bine.png"/>
    </a>
    <a routerLink="." class="simple-text logo-normal">
      Plataforma BINE
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/panel-de-control">
          <i class="material-icons">dashboard</i>
          <p> Panel de control </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/estudiantes">
          <i class="material-icons">local_library</i>
          <p> Alumnos </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin-lic-principal/docentes">
          <i class="material-icons">group</i>
          <p> Docentes </p>
        </a>
      </li>
    </ul>
  </div>
</div>
